/* Extra small devices (portrait phones, less than 576px) */

@media(min-width: 320px) and (max-width: 575px) {
    .header_menu {
        display: none;
    }
    .hero_txt h1 {
        font-size: 44px;
    }
    .hero_txt p {
        font-size: 16px;
        line-height: 22px;
    }
    br {
        display: none;
    }
    .hero_bttn a:first-child {
        padding: 14px 36px;
    }
    .see_on_txt {
        text-align: center;
        margin-top: 15px;
    }
    .sidebar_img .nav {
        flex-direction: row!important;
        margin-bottom: 15px;
    }
    .sidebar_img a {
        display: inline-block;
    }
    .sidebar_img a {
        width: 19%;
        margin: 0 10px;
    }
    .product_feat_wrap {
        display: none;
    }
    .product_buy_txt_wrap {
        margin-top: 30px;
    }
    .price_box_wrap {
        flex-direction: unset;
    }
    .price_box_wrap h4 {
        text-align: center;
        margin-bottom: 15px;
        margin-top: 28px;
        /* margin-bottom: 60px; */
        font-size: 20px;
        vertical-align: middle;
    }
    .price_midle_txt {
        margin-top: 15px;
        /* margin-bottom: 20px; */
        margin-left: 17px;
    }


    .price_midle_txt h6 {
        font-size: 13px;
    }
    .price_midle_txt h5 {
        font-size: 13px;
    }
    .price_midle_txt h5 span {
        font-size: 13px;
    }
    .sold_qty {
        /* margin-bottom : 10% */
    }
    .sticky_text {
        font-size: 2.5vw;   
    }



    .product_pick_wrap .media {
        padding: 12px;
    }
    .product_pick_wrap .media .mt_3 {
        margin-right: 10px;
    }
    .product_pick_wrap .media h6,
    .price_box_wrap .media h6 {
        font-size: 17px;
    }
    .product_buy_count_wrap {
        display: none;
    }
    .margin_left_2 {
        margin-bottom: 15px;
    }
    .margin_left_2,
    .margin_left {
        margin-left: 0;
    }
    .why_we_table table {
        display: block;
        width: 100%;
        overflow-x: scroll;
    }
    .nutriniotn_head h2 {
        font-size: 30px;
        line-height: 38px;
    }
    .slidPrv_1 {
        left: 0;
        display: none !important;
    }
    .slidNext_1 {
        right: 0;
        display: none  !important;
    }
    .overall_rating_wrap {
        margin-bottom: 25px;
    }
    .overall_rating_img {
        margin-bottom: 25px;
    }
    .review_box_lft {
        margin-left: 0px;
    }
    .write_review h6 {
        font-size: 14px;
    }
    .faq_txt_wrap .card .card-header button {
        padding-left: 0;
        padding-right: 0;
    }
    .faq_txt_wrap .card button i {
        /* width: 41px; */
    }
    .faq_txt_wrap .card button h6 {
        font-size: 15px;
        line-height: 22px;
        width: 90%;
    }
    .sign_up_lft_wrap {
        padding-top: 150px;
        margin-bottom: 25px;
        padding: 25px;
    }
    .sign_up_lft_wrap h4 {
        font-size: 30px;
        line-height: 40px;
    }
    .instagram_btn {
        margin-top: 0;
        margin-bottom: 25px;
    }
    .instagram_posts a img {
        width: 100%;
        margin-bottom: 15px;
    }
    .get_start_wrap {
        padding: 25px;
    }
    .ftr_logo {
        margin-bottom: 25px;
    }
    .ftr_links {
        margin-top: 25px;
    }
    .paoyment_method,
    .ftr_country {
        text-align: center;
    }
    .header_section {
        display: none;
    }
    .hero_section {
        background-image: url(../images/MOB.jpg);
    }
    .mobile_menu_sec .iconss img {
        width: 35px;
    }
    .mobile_menu_sec {
        padding-top: 15px;
        border-bottom: 1px solid #5e64689f;
        padding-bottom: 15px;
        position: fixed;
        width: 100%;
        z-index: 9999;
    }
    .newClass .iconss a img {
        filter: invert(0%) sepia(100%) saturate(7463%) hue-rotate(80deg) brightness(84%) contrast(107%)!important;
    }
    .mobile_sticky {
        position: fixed;
        left: 0;
        bottom: 1px;
        background-color: #fff;
        width: 100%;
    }
    .mobile_sticky .quantity {
        width: 150px;
        display: flex;
        align-items: center;
        border: 1px solid #000;
        padding: 8px 20px;
    }
    .mobile_sticky .quantity input {
        width: 100%;
        border: none;
        font-size: 20px;
        text-align: center;
    }
    .mobile_sticky a {
        background: #3EB49C;
        border: 1px solid #227362;
        box-sizing: border-box;
        font-style: normal;
        font-size: 22px;
        line-height: 35px;
        color: #FFFFFF;
        width: 100%;
        display: block;
        text-align: center;
        padding: 6px 25px;
        font-family: Satoshi-Bold;
    }
    .instagram_posts {
        margin: 10px;
        text-align: center;
    }
    .instagram_posts a img {
        margin: 5px;
    }
    .product_buy_imgs {
        display: none;
    }
    .instagram_posts {
        margin: 10px;
        text-align: center;
    }
    .instagram_posts a img {
        margin: 5px;
        width: 150px !important;
        height: 150px !important;
    }
    .nutriniotn_head_2 p:before{
        position: absolute;
        content: "";
        left: 34%;
        bottom: -10px;
        width: 90px;
        height: 40px;
        background-color: #000;
        /* background-size: 15px 5px; */
        /* background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/423754/wave.svg') repeat-x 0%; */
        /* background: url("https://ewebdesign.com/wp-content/themes/ewebdesign/assets/img/wave.svg")  ; */
        background: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 10 18'%3E%3Cstyle type='text/css'%3E.squiggle%7Banimation:shift 1s linear infinite;%7D@keyframes shift %7Bfrom %7Btransform:translateX(-10px);%7Dto %7Btransform:translateX(0);%7D%7D%3C/style%3E%3Cpath fill='none' stroke='%23266C5E' stroke-width='1' class='squiggle' d='M0,17.5 c 2.5,0,2.5,-1.5,5,-1.5 s 2.5,1.5,5,1.5 c 2.5,0,2.5,-1.5,5,-1.5 s 2.5,1.5,5,1.5' /%3E%3C/svg%3E")  ;

        /* background-repeat: no-repeat; */
        /* animation: move 15s linear infinite; */
     
        /* animation: lineH 1s 2s infinite linear; */
        /* animation: 30s wave linear infinite; */
        transform: translateX(-50%);
    }
    .nutriniotn_head_2 b:before{
        position: absolute;
        content: "";
        left: 64%;
        bottom: 40px;
        width: 100px;
        height: 40px;
        background-color: #000;
        /* background-size: 15px 5px; */
        /* background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/423754/wave.svg') repeat-x 0%; */
        /* background: url("https://ewebdesign.com/wp-content/themes/ewebdesign/assets/img/wave.svg")  ; */
    background: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 10 18'%3E%3Cstyle type='text/css'%3E.squiggle%7Banimation:shift 1s linear infinite;%7D@keyframes shift %7Bfrom %7Btransform:translateX(-10px);%7Dto %7Btransform:translateX(0);%7D%7D%3C/style%3E%3Cpath fill='none' stroke='%23266C5E' stroke-width='1' class='squiggle' d='M0,17.5 c 2.5,0,2.5,-1.5,5,-1.5 s 2.5,1.5,5,1.5 c 2.5,0,2.5,-1.5,5,-1.5 s 2.5,1.5,5,1.5' /%3E%3C/svg%3E")  ;

        /* background-repeat: no-repeat; */
        /* animation: move 15s linear infinite; */
     
        /* animation: lineH 1s 2s infinite linear; */
        /* animation: 30s wave linear infinite; */
        transform: translateX(-50%);
    }
    
    @-webkit-keyframes move {
        from {
            background-position: 2px 19px;
          }
          to {
            background-position: 500px 19px;
          }
        }
        
        @keyframe move {
        from {
            background-position: 2px 19px;
          }
          to {
            background-position: 500px 19px;
          }
        }
        .nutrition_feat_box {
            padding: 6px;
            display: inline-block;
            width: 85%;
        }
        .nutrition_feat_box .media img {
            margin-right: 10px;
            width: 50px;
        }
        .nutrition_feat_box .media h6{
            font-size: 16px;
            margin-bottom: 0px;
            line-height: 21px;
        }
        .nutrition_feat_box .media {
            align-items: center;
        }
        .nutrition_feat_box .media p{
            font-size: 12px;
            line-height: 17px;
        }
        .placed_img {
            display: none;
            height: 0;
        }
        .margin_btm{
            margin-bottom: 15px;
        }
        .margin_btm_2{
            margin-left: 15%;
        }
        .margin_btm_3{
            display: none;
        }
        .nutrition_txt_wrap{
            padding-top: 0;
        }
        .mb_5{
            margin-bottom: 240px;
        }

        /*  */
        #menu
         {
                position: absolute;
                width: 180px;
                height: 400px;
                box-shadow: 0 0 10px #85888C;
                margin: -50px 0 0 -50px;
                padding: 50px;
                padding-top: 125px;
                background-color: #F5F6FA;
                -webkit-font-smoothing: antialiased;
                /* transform-origin: 0% 0%;
                transform: translate(-100%, 0);
                transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0); */
                /* top: 73px !important; */
                }

                #menu li
                {
                padding: 10px 0;
                transition-delay: 2s;
                }




}


/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767px) {
    .instagram_posts {
        margin: 10px;
        text-align: center;
    }
    .instagram_posts a img {
        margin: 5px;
        width: 200px !important;
        height: 200px !important;
    }
    .nutrition_feat_box {
        padding: 6px;
        display: inline-block;
        width: 85%;
    }
    .nutrition_feat_box .media img {
        margin-right: 10px;
        width: 50px;
    }
    .nutrition_feat_box .media h6{
        font-size: 16px;
        margin-bottom: 0px;
        line-height: 21px;
    }
    .nutrition_feat_box .media {
        align-items: center;
    }
    .nutrition_feat_box .media p{
        font-size: 12px;
        line-height: 17px;
    }
    .placed_img {
        display: none;
        height: 0;
    }
    .margin_btm{
        margin-bottom: 15px;
    }
    .margin_btm_2{
        margin-left: 15%;
    }
    .margin_btm_3{
        display: none;
    }
    .nutrition_txt_wrap{
        padding-top: 0;
    }
    .mb_5{
        margin-bottom: 240px;
    }
    
}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991px) {
    .instagram_posts {
        margin: 10px;
        text-align: center;
    }
    .instagram_posts a img {
        margin: 5px;
        width: 340px !important;
        height: 340px !important;
    }
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199px) {
    /* .instagram_posts{
        margin: 10px;
        text-align: center;
    } */
    .instagram_posts a img {
        /* margin: 5px; */
        width: 150px !important;
        height: 150px !important;
    }
    .slick-prev:before {
        content: #9658;
        color: #3EB49C;
        font-size: 20px;
    }
    .slick-next:before {
        content: #9658;
        color: #3EB49C;
        font-size: 20px;
    }
    .slick-slider {
        margin-top: 60px;
    }
    .slick-prev,
    .slick-next {
        left: 50%;
        transform: translate(-50%, 0) rotate(90deg);
    }
    .slick-next {
        top: unset;
        bottom: -30px;
    }
    .slick-prev {
        top: -30px;
    }
    .slick-dots {
        display: none !important;
    }
}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .slick-prev:before {
        content: #9658;
        color: #3EB49C;
        font-size: 20px;
    }
    .slick-next:before {
        content: #9658;
        color: #3EB49C;
        font-size: 20px;
    }
    .slick-slider {
        margin-top: 60px;
    }
    .slick-prev,
    .slick-next {
        left: 50%;
        transform: translate(-50%, 0) rotate(90deg);
    }
    .slick-next {
        top: unset;
        bottom: -30px;
    }
    .slick-prev {
        top: -30px;
    }
    .slick-dots {
        display: none !important;
    }
    .instagram_posts a img {
        /* margin: 5px; */
        width: 200px !important;
        height: 200px !important;
    }
}


/* galaxy-fold 280px */

@media (max-width: 280px) {
    .instagram_posts {
        margin: 10px;
        text-align: center;
    }
    .instagram_posts a img {
        margin: 5px;
        width: 40px !important;
        height: 40px !important;
    }
}

@media (max-width: 360px) {
    .instagram_posts {
        margin: 10px;
        text-align: center;
    }
    .instagram_posts a img {
        margin: 5px;
        width: 140px !important;
        height: 140px !important;
    }
}

/* @media (max-width: 575px) {
    .instagram_posts{
                margin: 10px;
                text-align: center;
            }
    .instagram_posts a img {
        margin: 5px;
        width: 230px !important;
        height: 230px !important;
    }
} */

.css-cveggr-MuiListItemIcon-root {
    min-width: 35px !important;
}